#nav-bar
{
    background-color: #feeae9;
}

.color-panda
{
    background-color: #feeae9;
}
.navbar-nav
{
    margin-left: 100px;
    
}
.nav-link
{
    margin-left: 30px;
}
#subscribe
{
    height: 300px;
    width: 800px;
    background-color: #feeae9;
}